<h1>About Me</h1>
<p>
  I graduated from UCLA with a Bachelor's degree in Computer Science. During my undergraduate, I got the opportunity to learn different areas of computer science which gave me a solid background in programming. I am particularly interested in data mining and machine learning, and would like to explore more in this area. 
</p>
<p>
  I am experienced in both front-end and back-end side of web development. I like learning new technologies and experimenting with them in hopes finding a new way of developing things.
</p>
<p>
  I'm interested in joining a collaborative, forward looking team where I can help solve problems and continue to grow as a developer.
</p>
