<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">
    <span class="type-writer"></span>
  </p>
  <p class="lead" id="about-me-button">
    <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


