@import "bootstrap";
@import "font-awesome";

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  width: 350px;
  float: none;
  padding: .75rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  width: 350px;
  margin-bottom: .75rem;
}

.card-title {
  margin-top: .5rem;
}

.card-title a {
  color: #372f32;
  text-decoration: none;
}

.card-text {
  font-size: 90%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Custom styles */
img {
  width: 100%;
}

.project-container {
  padding: 3rem;
}

/* Nav links */
.nav-link {
  position: relative;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

.social-links li {
  font-size: 1.25em;
}

.visit-button{
  margin: 1rem;
  display: inline-block;
}

.navbar-toggler {
  position: relative;
  float: right;
}

#error_explanation {
  width: fill;
  border: 2px solid #c00;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 15px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
}

#error_explanation ul li {
  color: #c00;
  font-size: 13px;
}